

<div class="container" id="main-container">
    <h1>Course Registration</h1>
<br />
    <div class="row">
         <div class="card m-b-30">
            <div class="dropdown">
                <form #addForm="ngForm" (ngSubmit)="onAddRegistration(addForm)"  >
                    <label>Select Student :  </label>
                <select class="btn btn-secondary dropdown-toggle" ngModel="student.studentId" name="studentId" required > 
                    <option *ngFor="let student of student" ngModel name="studentId" ngValue="{{student?.studentId}}" required>{{student?.studentId}}</option>
                </select>
                <div class="divider"></div>
                <label>Select Course :  </label>

                <select class="btn btn-secondary dropdown-toggle" ngModel="course.courseCode" name="courseCode" required>
                    <option *ngFor="let course of course" ngModel name="courseCode" ngValue="{{course?.courseCode}}" required>{{course?.courseName}}</option>
                </select>
                <div class="divider"></div>
                <button (click)="alert()" [disabled]="addForm.invalid" id="add-registration-form" type="submit" class="btn btn-primary">Add Course</button>
                </form>
            </div>
         </div>
    </div>
</div>