<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">School Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav ml -auto">
          <li class="nav-item">
            <nav><a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a></nav>
         </li>
         <li class="nav-item">
            <nav><a class="nav-link" href="#" routerLink="/student" routerLinkActive="active">Student</a></nav>
         </li>
          <li class="nav-item">
            <nav><a class="nav-link" href="#" routerLink="/course" routerLinkActive="active">Course</a></nav>
         </li>
         <li class="nav-item">
            <nav><a class="nav-link" href="#" routerLink="/registration" routerLinkActive="active">Registration</a></nav>
         </li>
       </ul>
    </div>
  </nav>